html {
    --body-bg-color: #080a16;
    --bg-color-1: #0d0f1b;
    --bg-color-2: #0f1124;
    --bg-color-3: #151622;
    --bg-color-4: #0e2439;
    --bg-color-5: #0b0d1b;
    --bg-color-6: #081e2d;

    --font-color-1: #ffffff;
    --font-color-1-hover: #f0f0f0;

    --font-color-2: #080a16;
    --font-color-2-hover: #080a16;

    --font-color-3: #94a3b8;
    --font-color-3-hover: #ffffff;

    --font-color-4: #0f374d;
    --font-color-4-hover: 0f374d;

    --stable-white-color: #fff;
    --stable-gray-1-color: #aaabae;

    --color-1: #0dccf2;
    --color-1-hover: #0db9dc;

    --color-2: #000;
    --color-2-hover: #0a0a0a;

    --color-3: #f49e27;
    --color-3-hover: #f49e27;

    --color-stable-red: #e8363d;

    --ui-text-color: #1f222a;
    --ui-border-color: #e0dedd;
    --ui-border-error-color: #e8363d;
    --ui-bg-color: #fff;
    --ui-focus-shadow: rgba(21, 93, 253, 0.5);
    --ui-placeholder-color: #838383;

    --border-color-1: #141722;
    --border-color-2: #094154;
}
